/*******************
STYLING STANDARD TAGS 
******************/ 
html, body { 
	background-color: #344;

	color: #000;
}

h1 {
	color: #789;
}

h2 {
	font-weight: 600;
	color: #000;
}

h3 {
	background-color: #788;

	border: 1px solid #000;
}

h4 {
	border-bottom: 3px double #777;
}

a:link, a:visited {
	color: #147;

	border-bottom: 1px dashed #258;
}

a:hover {
	border-bottom: 1px solid #258;
}

code { 
	color: #134;
}

/*******************
CLASSES
******************/ 

.image dd {
	color: #444;
}

.bigCode {
	background-color: #233;

	color: #6a8;

	border-top: 1px solid #011;
	border-left: 1px solid #011;
	border-bottom: 1px solid #455:
	border-right: 1px solid #455;
}

/*******************
CONTENT AREA
******************/
#content {
	background-color: #aaa;

	border: 1px solid #000;
}

/*******************
NAVIGATION BAR
******************/

#navbar {
	background-color: #aaa;

	border: 1px solid #000;
}

/*******************
LINK BAR
******************/

#sidebar {
	background-color: #aaa;

	border: 1px solid #000;
}
	
a.sidebar:hover {
	background-color: #788;
	border: 1px solid #000;
}


/*
     FILE ARCHIVED ON 14:52:48 Aug 19, 2006 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 15:05:33 May 15, 2020.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  LoadShardBlock: 2488.962 (3)
  CDXLines.iter: 12.686 (3)
  PetaboxLoader3.datanode: 717.275 (6)
  esindex: 0.012
  PetaboxLoader3.resolve: 2725.051 (3)
  exclusion.robots: 0.187
  load_resource: 957.853
  captures_list: 2527.472
  RedisCDXSource: 22.279
  exclusion.robots.policy: 0.173
*/