html, body {
	font: 14px serif;
	
	padding: 10px;
}

* {
	background-color: #fff;

	color: #000;
}

a:link, a:visited {
	text-decoration: underline;

	color: #906;
}

a:after {
	font: 12px monospace;
	content: " (" attr(href) ")";
}

h1 {
	font: 19px monospace;
	text-align: center;
	content: " :: www.golden-ratio.net :: ";
}

h2 {
	text-align: center;
}

h3 {
	margin: 1px;
	padding: 2px;
	border-bottom: 1px solid #aaa;
}

h4 {
	margin: 1px;
	padding: 2px;
}

h4+p {
	margin-top: 1px;
}

.timeStamp {
	float: none;

	font: 12px serif;

	margin: 0;
	padding: 3px;

	text-indent: 2em;
}
	


#content {
	position: absolute;
	top: 50px;
}


#sidebar, #navbar {
	visibility: hidden;
}
	
	

/*
     FILE ARCHIVED ON 14:51:47 Aug 19, 2006 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 15:05:26 May 15, 2020.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  esindex: 0.015
  exclusion.robots: 0.2
  load_resource: 135.797
  RedisCDXSource: 394.168
  LoadShardBlock: 145.835 (3)
  PetaboxLoader3.resolve: 55.754
  PetaboxLoader3.datanode: 162.929 (4)
  exclusion.robots.policy: 0.186
  captures_list: 558.079
  CDXLines.iter: 14.29 (3)
*/