/*******************
STYLING STANDARD TAGS 
******************/ 
html, body { 
	background-color: #300;

	color: #f84;
}

h1 {
	color: #f61;
}

h2 {
	color: #f61;
}

h3 {
	background-color: #f61;

	color: #000;

	border: 1px solid #000;
}

h4 {
	border-bottom: 3px double #a40;
}

a:link, a:visited {
	color: #fa6;
	border-bottom: 1px dashed #fa6;
}

a:hover {
	border-bottom: 1px solid #fa6;
}

code { 
	color: #486;
}

/*******************
CLASSES
******************/ 

.image dd {
	color: #a62;
}

.timeStamp {
	color: #000;
}
	
.bigCode {
	background-color: #400;

	color: #486;

	border-top: 1px solid #410;
	border-left: 1px solid #410;
	border-bottom: 1px solid #630;
	border-right: 1px solid #630;
}

/*******************
CONTENT AREA
******************/
#content {
	background-color: #500;

	border: 1px solid #f61;
}

/*******************
NAVIGATION BAR
******************/
#navbar {
	background-color: #500;

	border: 1px solid #f61;
}

/*******************
LINK BAR
******************/
#sidebar {
	background-color: #500;

	border: 1px solid #f61;
}
	
a.sidebar:hover {
	background-color: #700;
	border: 1px solid #f61;
}


/*
     FILE ARCHIVED ON 14:55:07 Aug 19, 2006 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 15:05:18 May 15, 2020.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  load_resource: 60.12
  exclusion.robots: 0.195
  RedisCDXSource: 55.287
  captures_list: 254.31
  esindex: 0.01
  LoadShardBlock: 186.638 (3)
  PetaboxLoader3.datanode: 121.601 (6)
  PetaboxLoader3.resolve: 105.225 (3)
  CDXLines.iter: 9.822 (3)
  exclusion.robots.policy: 0.181
*/