/***************
STYLE SWITCH
**************/
#styleswitcher {
	font-family: monospace;

	float: left;

	margin: 3px;
	padding: 1px;
	
	width: 100%;
}

#styleswitcher span {
	float: left;
}

#styleswitcher a, div#styleswitcher a:visited {
	color: #fa6;
	font: 1.5em serif;
	font-style: italic;
	
	margin: 1px;
	padding: 2px;
	border: 1px dashed #000;
}

#styleswitcher a.red {
	background-color: #300;

	border: 1px dashed #744;
}

#styleswitcher a.red:hover {
	background-color: #411;

	border: 1px solid #855;
}

#styleswitcher a.cyan {
	background-color: #344;
	
	border: 1px dashed #788;
}

#styleswitcher a.cyan:hover {
	background-color: #455;
	
	border: 1px solid #899;
}

/*
     FILE ARCHIVED ON 14:56:27 Aug 19, 2006 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 15:04:56 May 15, 2020.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  PetaboxLoader3.datanode: 1818.637 (6)
  exclusion.robots.policy: 0.121
  exclusion.robots: 0.131
  RedisCDXSource: 32.837
  CDXLines.iter: 10.15 (3)
  captures_list: 2462.07
  esindex: 0.011
  load_resource: 230.949
  PetaboxLoader3.resolve: 789.058 (4)
  LoadShardBlock: 2416.599 (3)
*/