.add_social_icons {
	top: 35%;
	right: -50px;
	position: absolute;
	z-index: 99999;
}

.thumbs-fluid-layout {
	width: 99%;
	margin-top: 1%;
	*zoom: 1;
}

.thumbs-fluid-layout:before,
.thumbs-fluid-layout:after {
	display: table;
	line-height: 0;
	content: "";
}

.thumbs-fluid-layout:after {
	clear: both;
}

div.gallery-bank-hover-details {
	display: inline-block !important;
	overflow: hidden;
	position: relative;
	transition: all 1s;
	-moz-transition: all 1s;
	-webkit-transition: all 1s;
	-o-transition: all 1s;
}

div.gallery-bank-hover-details:hover {
	-webkit-box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.3);
}

div.gallery-bank-hover-details > div {
	transition: all 1s;
	-moz-transition: all 1s;
	-webkit-transition: all 1s;
	-o-transition: all 1s;
}

div.gallery-bank-hover-details:hover > div {
	transform: scale(1.2);
	-ms-transform: scale(1.2);
	-webkit-transform: scale(1.2);
	-o-transform: scale(1.2);
	-moz-transform: scale(1.2);
}

div.gallery-bank-hover-details .gallery-bank-image-details {
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.3);
	transition: all .5s;
	-moz-transition: all .5s;
	-webkit-transition: all .5s;
	-o-transition: all .5s;
	cursor: pointer;
}

div.gallery-bank-hover-details .gallery-bank-album-detail {
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: url(../images/icons/more.png) no-repeat center rgba(24, 24, 24, 0.3);
	background-color: rgba(0, 0, 0, 0.4);
	transition: all .5s;
	-moz-transition: all .5s;
	-webkit-transition: all .5s;
	-o-transition: all .5s;
	cursor: pointer;
}

div.gallery-bank-hover-details:hover .gallery-bank-album-detail {
	opacity: 1;
}

.gb-album-title {
	font-family: "Open Sans", Helvetica, Arial, Verdana, sans-serif;
	font-size: 18px;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
}

div.gallery-bank-hover-details:hover .gallery-bank-image-details {
	opacity: 1;
}

.gallery-bank-image-details h2 {
	margin: 0 auto 0 auto;
	color: #FFF;
	padding: 0;
}

.gallery-bank-image-details p {
	display: table;
	margin: 0 auto 0 auto;
	color: #FFF;
	padding: 0;
}

/**************************Shutter for Images**********************************/
.shutter-gb-img-wrap {
	overflow: hidden;
	position: relative;
	display: inline-block;
	padding: 0px 5px 0px 0px;
}

/*********************NEW SHUTTER CSS********************/
.gb_overlay {
	position: relative;
		/* Modify the width and the height according to your images sizes */
	overflow: hidden;
	display: inline-block;
}

.gb_overlay div {
	border: none;
}

.gb_overlay .overlay_text {
	position: absolute;
	top: 0px;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-position: center center;
		/* Opacity */
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0;
		/* Opacity Transition */
	-webkit-transition: opacity .4s ease-in;
	-moz-transition: opacity .4s ease-in;
	-o-transition: opacity .4s ease-in;
	-ms-transition: opacity .4s ease-in;
	transition: opacity .4s ease-in;
	background-color: rgba(0, 0, 0, 0.4);
}

.gb_overlay:hover .overlay_text {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;
}

.gb_overlay .overlay_zoom {
	position: absolute;
	top: 0px;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-image: url("../images/icons/zoom.png");
	background-position: center center;
		/* Opacity */
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0;
		/* Opacity Transition */
	-webkit-transition: opacity .4s ease-in;
	-moz-transition: opacity .4s ease-in;
	-o-transition: opacity .4s ease-in;
	-ms-transition: opacity .4s ease-in;
	transition: opacity .4s ease-in;
	background-color: rgba(0, 0, 0, 0.7);
}

.gb_overlay:hover .overlay_zoom {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;
}

/**********************Blog Shutter****************************/
.bottom_overlay {
	position: relative;
		/* Modify the width and the height according to your images sizes */
	display: inline-block;
		/*overflow:hidden;*/
}
/*******************filstrip*******/
.bottom_overlay .filmstrip_description_black {
		/* Rounded background, adjust sizes and position according to your needs */
	position: absolute;
	width: 100%;
	text-align: left;
	bottom: 0px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0;
	-webkit-transition: opacity 0.4s;
	-moz-transition: opacity 0.4s;
	-o-transition: opacity 0.4s;
	-ms-transition: opacity 0.4s;
	transition: opacity 0.4s;
}

.bottom_overlay .filmstrip_description_black {
	background: #000000;
	background: rgba(0, 0, 0, 0.7);
}

.bottom_overlay .filmstrip_description_black {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;
}
/*******************************************LIGHTBOX**************************************/

.gb_lightbox_overlay {
	display: none;
	position: fixed;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	background-color: black;
	z-index: 1001;
	-moz-opacity: 0.8;
	opacity: .80;
	filter: alpha(opacity=80);
}

.gb_container {
	display: none;
	padding: 10px;
	background-color: white;
	z-index: 999999;
	position: fixed;
}

.gb_image_holder {
	display: inline-block;
}

.gb_image_holder #imgFull {
	max-width: 700px;
	max-height: 500px;
}

.gb_image_holder #videoFull {
	max-width: 700px;
	max-height: 500px;
}

.gb_social_icons_holder {
	padding: 10px 10px 0 10px;
	vertical-align: top;
}

.gb_content_holder {
	display: none;
	width: 345px;
	padding-left: 10px;
	vertical-align: top;
	overflow: auto;
}

.gb_social_div {
	margin-left: 0px !important;
	margin-bottom: 0px !important;
}

.gb_content_holder ul {
	display: none;
}
	/*.gb_content_holder li
	{
		list-style: none !important;
		display:inline-block;
		padding: 0 10px 0 0 !important;
	}*/
.gb_content_holder .gb-facebook-comments {
	display: none;
}

.gb_linked_in {
	height: 23px;
	margin-right: 10px;
	cursor: pointer;
}
	/*.facebook_like
	{
		border:none;
		overflow:hidden;
		height:30px;
	}*/
.gb_close_lightbox {
	position: absolute;
	top: -22px;
	right: -22px;
	width: 30px;
	height: 30px;
	background: transparent url("../images/icons/fancybox.png") -40px 0px;
	cursor: pointer;
	z-index: 1103;
}

a.gb_lightbox_prev, a.gb_lightbox_next {
	background: url(../images/miscellaneous_sprite.png) no-repeat transparent;
	width: 45px;
	height: 50px;
	position: absolute;
	vertical-align: middle !important;
	display: inline-block;
	top: 45%;
	cursor: pointer;
}

a.gb_lightbox_prev {
	left: -43px;
	background-position: 0 -50px;
}

a.gb_lightbox_next {
	right: -43px;
	background-position: -50px -50px;
}

#dvLoading {
	background: #000 url(../images/lightbox_loading.gif) no-repeat center center;
	height: 100px;
	width: 100px;
	position: fixed;
	z-index: 1000;
	left: 50%;
	top: 50%;
	margin: -25px 0 0 -25px;
}

.gb_image_holder iframe,
	.gb_image_holder img {
	margin-bottom: 0px !important;
}

/* # Tooltips & popovers
================================================== */

.tooltip_tip {
	position: absolute;
	z-index: 10300;
	display: block;
	visibility: visible;
	padding: 5px;
	font-size: 11px;
	opacity: 0;
	filter: alpha(opacity=0);
}

.tooltip_tip.in {
	opacity: 0.8;
	filter: alpha(opacity=80);
}

.tooltip_tip.top {
	margin-top: -3px;
}

.tooltip_tip.right {
	margin-left: 3px;
}

.tooltip_tip.bottom {
	margin-top: 3px;
}

.tooltip_tip.left {
	margin-left: -3px;
}

.tooltip_tip-inner {
	max-width: 200px;
	padding: 3px 8px;
	color: #ffffff;
	text-align: center;
	text-decoration: none;
	background-color: #202020;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

.tooltip_tip-arrow {
	position: absolute;
	width: 0;
	height: 0;
	border-color: transparent;
	border-style: solid;
}

.tooltip_tip.top .tooltip_tip-arrow {
	bottom: 0;
	left: 50%;
	margin-left: -5px;
	border-width: 5px 5px 0;
	border-top-color: #000000;
}

.tooltip_tip.right .tooltip_tip-arrow {
	top: 50%;
	left: 0;
	margin-top: -5px;
	border-width: 5px 5px 5px 0;
	border-right-color: #000000;
}

.tooltip_tip.left .tooltip_tip-arrow {
	top: 50%;
	right: 0;
	margin-top: -5px;
	border-width: 5px 0 5px 5px;
	border-left-color: #000000;
}

.tooltip_tip.bottom .tooltip_tip-arrow {
	top: 0;
	left: 50%;
	margin-left: -5px;
	border-width: 0 5px 5px;
	border-bottom-color: #000000;
}

/*****************************************FILTERS*******************************************/

.gallery-bank-filter-categories,
.paginator {
	float: left;
}

.gallery-bank-filter-categories a,
.paginator a {
	border-left-style: solid;
	border-left-width: 1px;
}

.gallery-bank-filter-categories a:first-child {
	border-left: 0px;
}

.page-links,
.page-nav,
.gallery-bank-filter-categories,
.filter-extras {
	border-style: solid;
	border-width: 1px;
	border-color: rgba(218, 222, 225, 0.8);
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	-ms-border-radius: 8px;
	-o-border-radius: 8px;
	border-radius: 8px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}

.gallery-bank-filter-categories a,
.paginator a {
	float: left;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	margin: -1px -1px -1px 0;
	text-align: center;
	text-decoration: none;
}

.gallery-bank-filter a {
	line-height: 35px;
	font-size: 12px;
}

.gallery-bank-filter-categories a,
.gallery-bank-filter-categories a.act {
	padding: 0 15px 0 14px;
	line-height: 35px;
	font-size: 12px;
}

.gallery-bank-filter a,
.gallery-bank-filter .gallery-bank-filter-categories.new-style a:first-child {
	border-color: rgba(218, 222, 225, 0.8);
}

.gallery-bank-filter .gallery-bank-filter-categories a.act:first-child {
	-webkit-border-radius-left: 8px;
	-moz-border-radius-left: 8px;
	-ms-border-radius-left: 8px;
	-o-border-radius-left: 8px;
	border-radius: 8px;
	-webkit-border-top-right-radius: 0px;
	-moz-border-top-right-radius: 0px;
	-ms-border-top-right-radius: 0px;
	-o-border-top-right-radius: 0px;
	border-top-right-radius: 0px;
	-webkit-border-bottom-right-radius: 0px;
	-moz-border-bottom-right-radius: 0px;
	-ms-border-bottom-right-radius: 0px;
	-o-border-bottom-right-radius: 0px;
	border-bottom-right-radius: 0px;
	border-color: transparent;
}

.gallery-bank-filter .gallery-bank-filter-categories a.act {
	-webkit-border-top-right-radius: 0px;
	-moz-border-top-right-radius: 0px;
	-ms-border-top-right-radius: 0px;
	-o-border-top-right-radius: 0px;
	border-top-right-radius: 0px;
	-webkit-border-bottom-right-radius: 0px;
	-moz-border-bottom-right-radius: 0px;
	-ms-border-bottom-right-radius: 0px;
	-o-border-bottom-right-radius: 0px;
	border-bottom-right-radius: 0px;
	border-color: transparent;
}

.gallery-bank-filter .gallery-bank-filter-categories a.act:last-child {
	-webkit-border-radius-right: 8px;
	-moz-border-radius-right: 8px;
	-ms-border-radius-right: 8px;
	-o-border-radius-right: 8px;
	border-radius: 8px;
	-webkit-border-top-left-radius: 0px;
	-moz-border-top-left-radius: 0px;
	-ms-border-top-left-radius: 0px;
	-o-border-top-left-radius: 0px;
	border-top-left-radius: 0px;
	-webkit-border-bottom-left-radius: 0px;
	-moz-border-bottom-left-radius: 0px;
	-ms-border-bottom-left-radius: 0px;
	-o-border-bottom-left-radius: 0px;
	border-bottom-left-radius: 0px;
	border-color: transparent;
}

.gallery-bank-filter-categories a {
	color: #000000;
}

.separator-doubled {
	padding: 0;
	height: 0;
	border: none;
	border-top: medium double #d5d5d5;
	color: #333;
	text-align: center;
	margin-top: 10px;
	margin-bottom: 20px;
	clear: both;
}

.jp-hidden {
	display: none !important;
}
