/*
Theme Name: Cult of Pedagogy
Description: A custom designed theme for COP.
Author: Tin Cans & String
Author URI: http://www.madebytincans.com
Version: 1.0

*/




/* --------------------------------------------------------------------------

   Colors

-----------------------------------------------------------------------------


White - #fff
Black (Charcoal) - #3c3b3c
Dark Grey (Taupe) - #938c86
Light Grey - #d1d1d1


Grape - #837098
Cadet Blue - #5d97ae
Avocado - #a6b567
Raspberry - #c92747

Cantaloupe - #f9aa40
Lion - #ffd775
Lagoon - #73cac5
Taupe - #938c86
Lipstick - #c52627


*/




/* --------------------------------------------------------------------------

   Fonts

----------------------------------------------------------------------------- */

/* Texta - book, book italic, medium */


@font-face {
    font-family: 'Texta';
    src: url('fonts/texta/32D4C4_5_0.eot');
    src: url('fonts/texta/32D4C4_5_0.eot?#iefix') format('embedded-opentype'),
         url('fonts/texta/32D4C4_5_0.woff2') format('woff2'),
         url('fonts/texta/32D4C4_5_0.woff') format('woff'),
         url('fonts/texta/32D4C4_5_0.ttf') format('truetype');
    font-weight: normal;
	font-style: normal;
}

@font-face {
    font-family: 'Texta';
    src: url('fonts/texta/32D4C4_4_0.eot');
    src: url('fonts/texta/32D4C4_4_0.eot?#iefix') format('embedded-opentype'),
         url('fonts/texta/32D4C4_4_0.woff2') format('woff2'),
         url('fonts/texta/32D4C4_4_0.woff') format('woff'),
         url('fonts/texta/32D4C4_4_0.ttf') format('truetype');
    font-weight: normal;
	font-style: italic;
}


@font-face {
    font-family: 'Texta';
    src: url('fonts/texta/32D4C4_6_0.eot');
    src: url('fonts/texta/32D4C4_6_0.eot?#iefix') format('embedded-opentype'),
         url('fonts/texta/32D4C4_6_0.woff2') format('woff2'),
         url('fonts/texta/32D4C4_6_0.woff') format('woff'),
         url('fonts/texta/32D4C4_6_0.ttf') format('truetype');
    font-weight: 700;
	font-style: normal;
}


/* Lunchbox */

@font-face {
    font-family: 'LunchBox';
    src: url('fonts/lunchbox/32C85E_3_0.eot');
    src: url('fonts/lunchbox/32C85E_3_0.eot?#iefix') format('embedded-opentype'),
         url('fonts/lunchbox/32C85E_3_0.woff2') format('woff2'),
         url('fonts/lunchbox/32C85E_3_0.woff') format('woff'),
         url('fonts/lunchbox/32C85E_3_0.ttf') format('truetype');
    font-weight: normal;
	font-style: normal;
}


/* --------------------------------------------------------------------------

   Foundation

----------------------------------------------------------------------------- */


*,
*:after,
*:before { box-sizing: border-box; }

html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}

body {
    margin: 0 auto;
    padding: 0;
}

main { display: block; }

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-size: inherit;
}

p,
blockquote,
figure,
ol,
ul {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
    max-width: 100%;
}

img {
    height: auto;
    border: 0;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea { resize: vertical; }




/* --------------------------------------------------------------------------

   Base Styles

----------------------------------------------------------------------------- */

/*
 *
 * 1. 143.8% = 23px base font size. Used for all other font sizes and proportions.
 *
 * 2. 35px or 1.522rem is our magic number used to maintain vertical rhythm.
 *
 */

html {
    color: #3c3b3c;
	font-family: 'Texta', Helvetica, Arial, sans-serif;
	font-size: 143.8%;  /* 1 */
	line-height: 1.522;   /* 2 */
}

body { background-color: #fff; }

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 2px;
    border: 0;
    border-top: 2px solid #d1d1d1;
    margin: 0.761rem 0;
    padding: 0;
}




/* --------------------------------------------------------------------------

   Typography - 1.333 scale http://www.modularscale.com/?1&em&1.333&web&table

   72px - 3.157em
   54px - 2.369em
   40px - 1.777em
   30px - 1.333em
   23px - 1em
   17px - 0.75em
   12px - 0.563em

----------------------------------------------------------------------------- */


/* Common margin-bottom for vertical rhythm based on our base line-height */

h1,h2,h3,h4,h5,h6,
.hsize1, .hsize2,
ul,ol,dl,
fieldset,
p,
table,
pre,
hr {
    margin-bottom: 1.522rem;
}


/* Headings */

h1, h2, h3, h4, h5, h6 {
    font-family: 'Texta';
    font-weight: 700;
    text-transform: uppercase;
}

h1, .hsize1 { font-size: 3.157em; line-height: 0.972; }
h2, .hsize2 { font-size: 2.369em; line-height: 1.3; margin-bottom: 0.696rem; }
h3, .hsize3 { font-size: 1.777em; line-height: 1; margin-bottom: 1.304rem; }
h4, .hsize4 { font-size: 1.333em; line-height: 1.167; margin-bottom: 0; }
h5, h6  { font-size: 1em; line-height: 1.522rem; margin-bottom: 0; }


/* Different sizes for the main content areas */

.main-content h1 { font-size: 2.369em; line-height: 1.3; margin-bottom: 0.696rem; }
.main-content h2 { font-size: 1.777em; line-height: 1; margin-top: 0.652rem; margin-bottom: 0.652rem; }
.main-content h3 { font-size: 1.333em; line-height: 1.167; margin-bottom: 1.304rem; }
.main-content h4 { font-size: 1em; line-height: 1.522rem; margin-bottom: 0; }

/* prevent h1's in posts for being too big */

.single-post .main-content h1 { font-size: 1.777em; line-height: 1; margin-top: 0.652rem; margin-bottom: 0.652rem; }

.single-post .main-content h2 { font-size: 1.777em; line-height: 1; margin-top: 2.608rem; margin-bottom: 0.326rem; }

.single-post .main-content h3 { font-size: 1.333em; line-height: 1.167; margin-bottom: 0.326rem; margin-top: 1.956rem; }

/* LunchBox font used for headings */

.heading-alt {
    font-family: 'LunchBox', sans-serif;
    font-weight: normal;
    text-transform: none;
    letter-spacing: -1px;
}

.p-small { font-size: 0.75em; }

blockquote {
    font-family: 'Texta';
    font-style: italic;
    background-color: rgba(209, 209, 209, 0.5);
    border-left:10px solid #a6b567;
    margin:1.522rem 0;
    padding: 0.761em;
    quotes:"\201C""\201D""\2018""\2019";
}

blockquote:before {
    font-family: 'Texta';
    content:open-quote;
    font-size: 3.157em;
    line-height: .1em;
    margin-right: .25em;
    vertical-align: -.4em;
}

blockquote p { display:inline; }

.main-content ul li,
.main-content ol li {
    margin: 0 0 1.522rem 1.522rem;
}

small {
    color: #938c86;
    font-size: 0.75em;
}

/* --------------------------------------------------------------------------

   Links

----------------------------------------------------------------------------- */


a { transition: all 0.2s; }

.main-content a:not(.btn),
.comment-body p a { text-decoration: underline; }

.main-content a:not(.btn):hover,
.comment-body p a:hover { opacity: .6; }

.btn,
.comment-reply-link {
    display: inline-block;
    padding: .5em 2em .45em;
    background-color: #3c3b3c;
    border: 3px solid #3c3b3c;
    border-radius: 60px;
    font-size: 0.667em;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    outline: none;
    cursor: pointer;
    font-family: 'Texta', sans-serif;
    font-weight: 700;
}

.main-content .btn { margin-bottom: 1.522rem; }

.main-content .btn + .btn .{ margin: 0 0.761rem 1.522rem; }

.btn:hover {
    background-color: rgba(61, 60, 61, 0.25);
    border-color: #fff;
}

.btn-clear,
.comment-reply-link {
    background-color: transparent;
    color: #938c86;
    border-color: inherit;
}

.btn-clear:hover,
.comment-reply-link:hover {
    background-color: #938c86;
    color: #fff;
    border-color: #938c86;
}

.btn-small,
.comment-reply-link { font-size: 0.563em; }

.btn-clear.btn-small,
.comment-reply-link { border-width: 2px; }

.btn-dark:hover {
    background-color: #938c86;
    border-color: #938c86;
}

.btn-color {
    background-color: #837098;
    border-color: #837098;
}

.btn-color:hover {
    background-color: #4B3C57;
    border-color: #4B3C57;
}

#topics { padding-top: 0; }


/* --------------------------------------------------------------------------

   Forms

----------------------------------------------------------------------------- */


/* small form reset */

input,
textarea,
select {
    background: transparent;
    border: 0;
    border-radius: 0;
    background-color: transparent;
    outline: none;
    font-family: inherit;
    font-size: 1em;
    border: 2px solid #938c86;
}

input:not([type=checkbox]),
textarea {
-webkit-appearance: none;
-moz-appearance: none;
appearance: none;
}


textarea {

    resize: none;
    min-height: 200px;
}

input:not([type="submit"]):not([type="checkbox"]):not([type="button"]),
textarea,
select {
    padding: .75rem;
    width: 100%;
}

label {
    font-size: 0.75em;
    text-transform: uppercase;
}


input + input { margin-left: .75rem; }

input:focus,
textarea:focus {
    border-color: #c92747;
}

#searchform:not(.podcast-search) input:not([type="submit"]) {
    max-width: 300px;
    border-color: #3c3b3c;
}

.podcast-search input:focus {
    border-color: #3c3b3c;
}

input[type="submit"],
button[type="submit"],
#searchform input[type="submit"] {
    display: inline-block;
    padding: .5em 2em .45em;
    background-color: #c92747;
    border: 3px solid #c92747;
    border-radius: 60px;
    font-size: 0.667em;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    outline: none;
    cursor: pointer;
    font-family: 'Texta', sans-serif;
    font-weight: 700;
    transition: all .2s;
}

input[type="submit"]:hover,
button[type="submit"]:hover,
#searchform input[type="submit"]:hover {
    background-color: transparent;
    border-color: #c92747;
    color: #c92747;
}


/* placeholder text */

::-webkit-input-placeholder { color: #938c86; }
          :-moz-placeholder { color: #938c86; }
         ::-moz-placeholder { color: #938c86; }
     :-ms-input-placeholder { color: #938c86; }

/* trying to help aweber */

.af-form-wrapper input[type="submit"] { margin-top: 0.761rem; }

/* Search functionality */

.search-icon,
.close-icon {
    display: inline-block;
    width: 40px;
    height: 40px;
    background: url('images/icons/search.svg') 50% 40% no-repeat;
    background-size: 20px;
    opacity: .5;
    cursor: pointer;
    vertical-align: middle;
    transition: opacity .2s;
}

.search-icon {
    float: right;
    margin-top: 0.761rem;
}

.home .search-icon {
    float: none;
    padding-top: 0.761rem;
    margin-top: 0;
}

.close-icon {
    background: url('images/icons/close.svg') 50% 50% no-repeat;
    opacity: 1;
}

.close-icon:hover { opacity: .5; }

.search-header {
    position: absolute;
    top: 0;
    bottom:0;
    left: 0;
    right: 0;
    background-color: rgba(209, 209, 209, 0.95);
    text-align: center;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease-in-out;
    z-index: -1;
}

.search-header .close-icon {
    position: absolute;
    top: 1.522rem;
    right: 1.522rem;
}

.search-icon:hover { opacity: 1; }

.search-active { overflow: hidden; }

.search-active .search-header {
    opacity: 1;
    pointer-events: all;
    z-index: 9999999;
}

.search-header #searchform { margin-top: 30vh; }

.search-help { font-size: 0.75em; }

.search-help a { text-decoration: underline; }


/* --------------------------------------------------------------------------

   Grid & Container

----------------------------------------------------------------------------- */


.container {
    max-width: 1600px;
    padding: 0 3.044rem;
    margin: 0 auto;
    position: relative;
}

.container-inner {
    max-width: 820px;
    padding: 0 3.044rem;
    margin: 0 auto;
    position: relative;
}

.grid { margin-left: -1.522em; }

[class*="grid-"] {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    vertical-align: top;
    margin-right: -.25em;
    padding-left: 1.522em;
}

.grid-full { width: 100%; }
.grid-half { width: 50%; }
.grid-1-3  { width: 33.333%; }
.grid-2-3  { width: 66.666%; }
.grid-1-4  { width: 25%; }
.grid-3-4  { width: 75%; }
.grid-1-5  { width: 20%; }
.grid-2-5  { width: 40%; }
.grid-3-5  { width: 60%; }
.grid-4-5  { width: 80%; }



/* --------------------------------------------------------------------------

   Navigation

----------------------------------------------------------------------------- */


.nav {
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav > li,
.nav > li > a {
    display: inline-block;
   *display: inline;
    zoom: 1;
}

.nav-main {
    float: right;
    text-align: right;
    margin-top: 0.761rem;
}

.nav-main .nav { display: inline-block; }

.nav-main li { position: relative; }

.nav-home {
    display: inline-block !important; /* overrides menu js, is removed later */
    float: none;
    text-align: center;
    margin-top: 0;
}

.nav-main a {
    padding: 0 1em;
    font-size: 0.75em;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #fff;
}

.nav-home a { font-size: 0.870em; }

.nav-main .nav > li:hover > a { color: inherit; }



/* submenu navigation for main menu */

.nav-main .sub-menu {
    position: absolute;
    min-width: 150px;
    text-align: left;
    left: 0;
    right: 0;
    margin: 0;
    padding-top: 10px;
    list-style: none;
    opacity: 0;
    visibility: hidden;
    transition: all .2s ease-out;
}

.nav-main .nav > li > .sub-menu:before {
    content: "";
    display: block;
    border-width: 0 8px 8px;
    border-style: solid;
    border-color: transparent transparent #3c3b3c;
    margin-left: -8px;
    position: absolute;
    top: 2px;
    left: 20%;
}

.nav-main.nav-home .sub-menu {
    left: -25px;
    right: -25px;
    text-align: center;
}

.nav-main.nav-home .nav > li > .sub-menu:before { left: 50%; }

.nav-main li:hover > .sub-menu {
    opacity: 1;
    visibility: visible;
}

.nav-main .sub-menu li { position: relative; }

.nav-main .nav .sub-menu > li:hover { }

.nav-main .sub-menu a {
    display: block;
    padding: 8px 0.761rem;
    background-color: rgba(61, 60, 61, 0.95);
    color: #fff;
    text-transform: none;
    line-height: 1.2;
}

.nav-main .sub-menu a:hover { background-color: #3c3b3c; }


/* submenu navigation 3rd level */

.nav-main .sub-menu .sub-menu {
    left: 100%;
    top: 0;
    right: auto;
    text-align: left;
    min-width: 150px;
}


/* social media navigation */

.nav-social a {
    display: inline-block;
    text-indent: -99999px;
    text-align: left;
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 35px;
    opacity: .5;
}

.nav-social a:hover { opacity: 1; }

.nav-social a[href^="https://www.facebook.com"]  { background-image: url('images/icons/facebook.svg'); }
.nav-social a[href^="https://twitter.com"]   { background-image: url('images/icons/twitter.svg'); }
.nav-social a[href^="https://plus.google.com"] { background-image: url('images/icons/google+.svg'); }
.nav-social a[href^="https://www.pinterest.com"] { background-image: url('images/icons/pinterest.svg'); }
.nav-social a[href^="https://www.instagram.com"] { background-image: url('images/icons/instagram.svg'); }
.nav-social a[href^="https://www.youtube.com"]  { background-image: url('images/icons/youtube.svg'); }

.nav-social-heading,
.nav-social-heading ~ .nav-social,
.nav-social-heading ~ .nav-social .nav { display: inline; }

.nav-social-dark a { opacity: 1; }
.nav-social-dark a:hover { opacity: .5; }

.nav-social-dark a[href^="https://www.facebook.com"]  { background-image: url('images/icons/facebook-dark.svg'); }
.nav-social-dark a[href^="https://twitter.com"]   { background-image: url('images/icons/twitter-dark.svg'); }
.nav-social-dark a[href^="https://plus.google.com"] { background-image: url('images/icons/google+-dark.svg'); }
.nav-social-dark a[href^="https://www.pinterest.com"] { background-image: url('images/icons/pinterest-dark.svg'); }
.nav-social-dark a[href^="https://www.instagram.com"] { background-image: url('images/icons/instagram-dark.svg'); }
.nav-social-dark a[href^="https://www.youtube.com"]  { background-image: url('images/icons/youtube-dark.svg'); }
.nav-social-dark a[href^="https://www.linkedin.com"]  { background-image: url('images/icons/linkedin-dark.svg'); }

.nav-social a.print-post  { background-image: url('images/icons/print.svg'); }


/* podcast menu - found in widget sidebar */

.menu-podcast-container a {
    display: inline;
    text-decoration: none;
    opacity: .8;
}

.menu-podcast-container a:before {
    content: '';
    display: inline-block;
    margin-right: 8px;
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 30px;
    vertical-align: middle;
    opacity: .9;
}

.menu-podcast-container a:hover,
.menu-podcast-container a:hover:before { opacity: 1; }

.menu-podcast-container a[href^="https://itunes.apple.com"]:before  { background-image: url('images/icons/apple.svg'); }
.menu-podcast-container a[href^="http://app.stitcher.com/"]:before  { background-image: url('images/icons/stitcher.svg'); }
.menu-podcast-container a[href^="https://play.google.com/"]:before  { background-image: url('images/icons/google-play.svg'); }


/* footer navigation */

.footer-main .nav-social { margin-bottom: .75rem; }

.nav-footer { margin: .75rem 0; }

.nav-footer li { padding: 0 5px; }

.nav-footer a { font-size: .75rem; }

.nav-footer a:hover { color: #d1d1d1; }


/* post pagination */

.pagination {
    margin-top: 1.522rem;
    text-align: center;
}

.pagination .page-numbers {
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 2px solid #938c86;
    color: #938c86;
    border-radius: 100%;
    margin: 0 5px;
    line-height: 47px;
    vertical-align: middle;
}

.pagination .next.page-numbers,
.pagination .prev.page-numbers {
    background: url('images/icons/arrow-left.svg') 47.5% 50% no-repeat;
    background-size: 9px;
    text-indent: -99999px;
    line-height: 1;
}

.pagination .next.page-numbers {
    background-image: url('images/icons/arrow-right.svg');
    background-position:  53.5% 50%;
}


.pagination .page-numbers:hover { background-color: rgba(209, 209, 209, 0.3); }

.pagination .page-numbers.current {
    background-color: #938c86;
    color: #fff;
}




/* --------------------------------------------------------------------------

   Responsive Navigation - to be used with meanmenu (https://github.com/meanthemes/meanMenu)

----------------------------------------------------------------------------- */


a.meanmenu-reveal { display: none; }

.mean-container .mean-bar {
	position: absolute;
	margin-top: 5rem;
	width: 100%;
	top: 0;
	right: 0;
	padding: 4px 0;
	min-height: 42px;
	z-index: 999999;
}

.mean-container a.meanmenu-reveal {
	position: absolute;
	top: -5rem;
	right: 0;
	padding: 1.522rem 0 0 0;
	margin-right: 4rem;
	cursor: pointer;
	color: #fff;
	text-decoration: none;
	font-size: 1em !important;
	letter-spacing: .5px;
	font-weight: 700;
	text-transform: uppercase;
}

.mean-container a.meanmenu-reveal:hover { opacity: .5; }

.mean-container .mean-nav {
	float: left;
	width: 100%;
}

.mean-container .mean-nav ul {
	padding: 0;
	margin: 0;
	width: 100%;
	list-style-type: none;
}

.mean-container .mean-nav ul li {
	position: relative;
	float: left;
	width: 100%;
	background-color: #fff;
}

.mean-container .mean-nav ul li a {
	display: block;
	float: left;
	width: 90%;
	padding: 20px 5%;
	margin: 0;
	text-align: left;
	color: #3c3b3c;
	border-bottom: 1px solid rgba(61, 60, 61, 0.5);
	line-height: 1;
	text-decoration: none;
	text-transform: uppercase;
}

.mean-container .mean-nav ul li li a {
	width: 80%;
	padding: 1em 10%;
	border-top: 1px solid #f1f1f1;
	border-top: 1px solid rgba(255,255,255,0.25);
	opacity: 0.75;
	filter: alpha(opacity=75);
	text-shadow: none !important;
	visibility: visible;
}

.mean-container .mean-nav ul li.mean-last a { margin-bottom: 0; }

.mean-container .mean-nav ul li li li a {
	width: 70%;
	padding: 1em 15%;
}

.mean-container .mean-nav ul li li li li a {
	width: 60%;
	padding: 1em 20%;
}

.mean-container .mean-nav ul li li li li li a {
	width: 50%;
	padding: 1em 25%;
}

.mean-container .mean-nav ul li a:hover { background: rgba(209, 209, 209, 0.5); }

.mean-container .mean-nav ul li a.mean-expand {
    position: absolute;
	right: 0;
	top: 0;
	z-index: 2;
	width: 60px;
	height: 60px;
	padding: 0;
	background-color: rgba(0,0,0,0.1);
	border: none !important;
	border-left: 1px solid rgba(60, 59, 60, 0.5) !important;
	border-bottom: 1px solid solid rgba(60, 59, 60, 0.5) !important;
	font-size: 28px !important;
	line-height: 60px;
	text-align: center;
}

.mean-container .mean-nav ul li a.mean-expand:hover { background-color: rgba(0,0,0,0.15); }

.mean-container .mean-push {
	float: left;
	width: 100%;
	padding: 0;
	margin: 0;
	clear: both;
}

.mean-nav .wrapper {
	width: 100%;
	padding: 0;
	margin: 0;
}

/* Fix for box sizing on Foundation Framework etc. */
.mean-container .mean-bar, .mean-container .mean-bar * {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}

.mean-remove { display: none !important; }

/* if there is an empty nav item "#" then make the click reveal */

.mean-nav a[href="#"] + .sub-menu + a.mean-expand {
    width: 100%;
    text-align: right;
    padding-right: 22px !important;
    background-color: transparent;
}



/* --------------------------------------------------------------------------

   Header

----------------------------------------------------------------------------- */

.header-main {
    position: relative;
    padding-top: 0.761rem;
    background-color: #938c86;
}

.home .header-main { text-align: center; }

.header-main:after {
    content: '';
    display: table;
    clear: both;
}

.header-text { text-align: center; }

.header-main .header-text { margin: 4.566rem 0; }

.header-full .header-text { margin: 6.088rem 0 9.132rem; }

.logo {
    width: 400px;
    margin-bottom: 3.044rem;
}

.logo-small { width: 140px; }




/* --------------------------------------------------------------------------

   Page Colors - class applied to the body if chosen, darker colors pulled from guide

----------------------------------------------------------------------------- */


/* grape - this is color was changed only here for the header colors 2/9/18 */

.page-color-purple .header-main { background-color: #877087; }
.page-color-purple .main-content .btn { background-color: #877087; border-color: transparent; }
.page-color-purple .main-content .btn:hover { background-color: #877087; }


/* cadet blue */

.page-color-blue .header-main { background-color: #5d97ae; }
.page-color-blue .main-content .btn { background-color: #5d97ae; border-color: transparent; }
.page-color-blue .main-content .btn:hover { background-color: #3B6F89; }

/* avocado */

.page-color-green .header-main { background-color: #a6b567; }
.page-color-green .main-content .btn { background-color: #a6b567; border-color: transparent; }
.page-color-green .main-content .btn:hover { background-color: #78844B; }


/* raspberry */

.page-color-berry .header-main { background-color: #c92747; }
.page-color-berry .main-content .btn { background-color: #c92747; border-color: transparent; }
.page-color-berry .main-content .btn:hover { background-color: #93192C; }


/* cantaloupe */

.page-color-orange .header-main { background-color: #f9aa40; }
.page-color-orange .main-content .btn { background-color: #f9aa40; border-color: transparent; }
.page-color-orange .main-content .btn:hover { background-color: #DA7F27; }


/* lion */

.page-color-yellow .header-main { background-color: #ffd775; }
.page-color-yellow .main-content .btn { background-color: #ffd775; border-color: transparent; }
.page-color-yellow .main-content .btn:hover { background-color: #d5a732; }


/* lagoon */

.page-color-teal .header-main { background-color: #73cac5; }
.page-color-teal .main-content .btn { background-color: #73cac5; border-color: transparent; }
.page-color-teal .main-content .btn:hover { background-color: #2D4255; }


/* lipstick */

.page-color-red .header-main { background-color: #c52627; }
.page-color-red .main-content .btn { background-color: #c52627; border-color: transparent; }
.page-color-red .main-content .btn:hover { background-color: #93192C; }


/* charcoal */

.page-color-charcoal .header-main { background-color: #3c3b3c; }
.page-color-charcoal .header-main .header-text { color: #fff; }
.page-color-charcoal .nav-main .nav > li:hover > a { color: #fff; opacity: .8; }
.page-color-charcoal .main-content .btn { background-color: #3c3b3c; border-color: transparent; }
.page-color-charcoal .main-content .btn:hover { background-color: #3c3b3c; }


/* merlot */

.page-color-merlot .header-main { background-color: #773344; }
.page-color-merlot .header-main .header-text { color: #fff; }
.page-color-merlot .main-content .btn { background-color: #773344; border-color: transparent; }
.page-color-merlot .main-content .btn:hover { background-color: #773344; }


/* dark gold */

.page-color-gold .header-main { background-color: #c8963E; }
.page-color-gold .main-content .btn { background-color: #c8963E; border-color: transparent; }
.page-color-gold .main-content .btn:hover { background-color: #c8963E; }


/* --------------------------------------------------------------------------

   Featured Boxes - colored boxes for landing page content

----------------------------------------------------------------------------- */

.featured-box-container {
    position: relative;
    margin: -3.044rem auto 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    z-index: 2;
}

.featured-box {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex: 1 1 320px;
    flex: 1 1 320px;
    max-width: 320px;
    margin: 0 1%;
    padding: 3.044rem 0.761rem;
    background-color: #938c86;
    border-radius: 2px;
    text-align: center;
    box-shadow: 0 5px 9px rgba(0,0,0,.1);
}

.featured-box-margin {
    margin: 0;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: 3.044rem;
}

.featured-box-margin .featured-box {
    width: 30%;
    -ms-flex: none;
    flex: none;
    margin-bottom: 1.522rem;
}

.featured-box:nth-child(5n+1) { background-color: #837098; }
.featured-box:nth-child(5n+2) { background-color: #5d97ae; }
.featured-box:nth-child(5n+3) { background-color: #a6b567; }
.featured-box:nth-child(5n+4) { background-color: #c92747; }

.featured-box p {
    max-width: 240px;
    margin-left: auto;
    margin-right: auto;
    font-size: 0.75em;
    color: #fff;
    letter-spacing: 0.033em;
}


.featured-box-inner {
    display: -ms-flexbox;
    display: flex;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: center;
    align-items: center;
}




/* --------------------------------------------------------------------------

   Sections of Content

----------------------------------------------------------------------------- */


/* sections with generious top and bottom padding */

.section { padding: 6.088rem 0; }

.section-title { margin-bottom: 3.044rem; }

/* center aligned sections */

.section-center { text-align: center; }


/* creates a left and right section, vertically centered content */

.section-half {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    max-width: 1600px;
    margin: 0 auto;
}

.section-half-inner {
    -ms-flex: 1;
    flex: 1;
    width: 50%;
}

.section-half-inner-img {
    display: block;
    width: 650px;
    border-radius: 100%;
    margin: 0 auto;
    text-align: center;
}


.section-about {
    padding: 3.044rem 0;
    background-color: #5d97ae;
}

.section-about p {
    color: #fff;
    margin-bottom: 0;
}

.color-alt {
    color: #938c86;
}

.bg-brown {
    color: #fff;
    background-color: #938c86;
}


/* tag list seen at bottom of blog */

.tag-list {
    list-style: none;
    margin: 3.044rem 0 3.044rem;
    -webkit-column-count: 3;
            column-count: 3;
    -webkit-column-gap: .75em;
    column-gap: .75em;
}

.tag-list span {
    font-size: 0.75em;
    color: #938c86;
}

.tag-list a:hover { text-decoration: underline; }



/* --------------------------------------------------------------------------

   Post List - anytime we just need a single list of articles (search results)

----------------------------------------------------------------------------- */


.post-listing {
    padding-bottom: 1.522rem;
    margin-bottom: 3.044rem;
    border-bottom: 1px solid #938c86;
}

.page-content .post-listing:last-of-type {
    border-bottom: none;
    padding-bottom: 0;
}


/* --------------------------------------------------------------------------

   Page Layout

----------------------------------------------------------------------------- */


.page-content {
    padding-top: 3.044rem;
    padding-bottom: 3.044rem;
}

.page-content:after {
    content: '';
    display: table;
    clear: both;
}



/* --------------------------------------------------------------------------

   Post Layout

----------------------------------------------------------------------------- */

/* post header */

.single-post .header-main {
    padding-bottom: 6.088rem;
    z-index: 2;
}

.post-content .main-content {
    position: relative;
    max-width: 820px;
    padding: 0 3.044rem;
    margin: -9.132rem auto 0;
    z-index: 3;
}

/* author meta */

.author-meta .nav-social a {
    background-size: 25px;
    width: 30px;
    margin-bottom: 0.761rem;
}

.author-meta p,
.social-share p {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: 'Texta';
    font-weight: 700;
}

.social-share p { margin-bottom: .5em; }

.post-template-default .social-share {
    position: fixed;
    z-index: 1;
    left: 100px;
    top: 16.132rem;
}

.post-template-default .social-share .nav > li,
.post-template-default .social-share .nav > li > a {
    display: block;
    margin-bottom: .5em;
}

.social-share {   margin-bottom: 1.522rem; }

/* post author */

.author-p {
    font-size: 0.75em;
    margin-bottom: 0;
}

.author-circle img {
    border-radius: 100%;
    border: 2px solid;
    transition: .2s all;
}

.author-p a:hover .author-circle img { border-color: #fff; }


/* Post Meta */

.post-meta {
    margin-top: 1.522rem;
}

.post-meta h4 {
    margin-bottom: 1.522rem;
    border-bottom: 2px solid #d1d1d1;
}

.post-meta p { margin-bottom: 0.761rem; }


/* --------------------------------------------------------------------------

   Layout - Sidebars

----------------------------------------------------------------------------- */

.sidebars-grid {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-left: 2rem;
    padding-right: 2rem;
}

.sidebars-grid .sidebar-left,
.sidebars-grid .sidebar-right {
    width: 23%;
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1;
}

.sidebars-grid .main-content {
    width: 54%;
    -webkit-order: 2;
        -ms-flex-order: 2;
            order: 2;
    padding-left: 2rem;
    padding-right: 2rem;
}

.sidebars-grid .sidebar-right {
    -webkit-order: 3;
        -ms-flex-order: 3;
            order: 3;
}


/* sidebar floating layout */

.sidebars-floating .sidebar-left,
.sidebars-floating .sidebar-right {
    -ms-flex-item-align: center;
    align-self: center;
}


/* widgets */

.widget {
    list-style: none;
    margin-bottom: 0.761rem;
    font-size: 75%;
}

.widget-title {
    margin-bottom: 0.761rem;
}

.widget .menu {
    list-style: none;
}

.widget ul { list-style-position: inside; }

.widget a { text-decoration: underline; }




/* --------------------------------------------------------------------------

   Card

----------------------------------------------------------------------------- */

.post-card {
    position: relative;
    margin-bottom: 3.044rem;
    border: 1px solid #d1d1d1;
    transition: .2s all;
}

.post-card:hover { box-shadow: 0 5px 9px rgba(0,0,0,.1); }

.post-card a:hover .post-card-content { background: transparent; }

.post-card-date,
.post-card-episode {
    position: absolute;
    top: 0.761rem;
    right: 0.761rem;
    width: 50px;
    height: 50px;
    padding-top: 8px;
    background-color: rgba(255, 255, 255, 0.85);
    border: 1px solid;
    border-radius: 100%;
    font-size: 0.5em;
    font-weight: 700;
    text-align: center;
    line-height: 1;
    z-index: 1;
}

.post-card-episode {
    font-size: .9em;
}

.post-card-date span,
.post-card-episode span {
    display: block;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.post-card-episode span {
    font-size: .5em;
    margin-bottom: 2px;
}

.post-card-img {
    height: 340px;
    overflow: hidden;
    background-size: cover;
    background-position: center center;
}

.post-card-content {
    padding: 1.522rem;
    border-top: 1px solid #d1d1d1;
    background-color: rgba(209, 209, 209, 0.15);
    transition: .2s all;
}

.post-card-title {
    font-size: 1em;
    line-height: 1.1;
    margin-bottom: 0.761rem;
}

.post-card-author { color: #938c86; }

.post-card p {
    font-size: 0.75em;
    margin-bottom: 0.761rem;
}

.post-card p:last-child { margin-bottom: 0; }


/* modified for smaller card grid, seen on archives */

.post-card-small { margin: 0 0 1.522rem; }

.post-card-small .post-card-img { height: 220px; }


/* adjusting bottom margins depending on grid */

body:not(.home) .section .grid-half:nth-last-child(-n+2) .post-card {
    margin-bottom: 0;
}


/* --------------------------------------------------------------------------

   Footer

----------------------------------------------------------------------------- */


.footer-main {
    padding: 3.044rem 0 1.522rem;
    text-align: center;
    border-top: 1px solid #938c86;
}




/* --------------------------------------------------------------------------

   Responsive Video/Oembeds

----------------------------------------------------------------------------- */

/* a wrapper is added in functions.php to videos */

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    margin-bottom: 32px;
}

.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


/* --------------------------------------------------------------------------

   Podcast Styles - added 9/10/18

----------------------------------------------------------------------------- */

.dropdown {
    position: relative;
    display: block;
    z-index: 2;
    margin-bottom: 1.522rem;
}

.dropdown a {
    position: relative;
    display: block;
    width: 100%;
    cursor: pointer;
    color: #938c86;
    padding: .75rem;
    line-height: 1;
}

.dropdown > a { border: 2px solid #938c86; }

.dropdown a.active {
    border-color: #3c3b3c;
}

.dropdown > a:after {
    content: "";
    position: absolute;
    right: .75rem;
    top: 20px;
    width: 14px;
    height: 23px;
    background: url('images/icons/arrow-down.svg') center center no-repeat;
}

.dropdown > a.active:after {
    transform: rotate(180deg);
}

.dropdown ul {
    position: absolute;
    background-color: #fff;
    margin: -2px 0 0 0;
    padding: 0;
    list-style: none;
    width: 100%;
    max-height: 400px;
    overflow-y: scroll;
    border: 2px solid #3c3b3c;
    color: inherit;
}

.dropdown ul a {
    color: inherit;
}

.dropdown ul a:hover { background-color: rgba(209, 209, 209, 0.5); }

.toggle-hide {
    display: none;
}


/* --------------------------------------------------------------------------

   WordPress Classes

----------------------------------------------------------------------------- */

.alignnone { margin: 0 0 0.761rem 0; }

.aligncenter,
div.aligncenter {
    display: block;
    margin: 0.761rem auto 0.761rem auto;
}

.alignright {
    float:right;
    margin: 10px 0 0.761rem 0.761rem;
}

.alignleft {
    float: left;
    margin: 10px 0.761rem 0.761rem 0;
}

a img.alignright {
    float: right;
    margin: 10px 0 0.761rem 0.761rem;
}

a img.alignnone { margin: 0 0.761rem 0.761rem 0; }

a img.alignleft {
    float: left;
    margin: 10px 0.761rem 0.761rem 0;
}

a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto
}

/* prevent double bottom margins */

p > .alignnone:first-of-type,
p > .aligncenter:first-of-type,
p > .alignnone:first-of-type,
p > .alignnone:first-of-type { margin-bottom: 0; }

.wp-caption {
    max-width: 100%; /* Image does not overflow the content area */
    text-align: center;
    margin-bottom: 0.761rem;
}

.wp-caption.alignnone { margin: 0 0.761rem 0.761rem 0; }

.wp-caption.alignleft { margin: 0.563em 0.761rem 0.761rem 0; }

.wp-caption.alignright { margin: 0.563em 0 0.761rem 0.761rem; }

.wp-caption img {
    border: 0 none;
    height: auto;
    margin: 0;
    max-width: 100%;
    padding: 0;
    width: auto;
}

.wp-caption p.wp-caption-text {
    font-size: 15px;
    margin: 0;
    padding-top: 0.761rem;
}

/* Text meant only for screen readers. */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar. */
}

.wp-audio-shortcode { margin-bottom: 1.522rem; }


/* Comments */


#comments {
    margin-bottom: 1.522rem;
    border-bottom: 2px solid #d1d1d1;
}

.commentlist {
    list-style: none;
}

.commentlist .children {
    list-style: none;
    margin-left: 1.522rem;
}

.comment-body {
    margin-bottom: .75rem;
    padding: 0.75rem;
    border-bottom: 2px solid #d1d1d1;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

.comment-body cite,
.comment-body .says {
    font-weight: 700;
    font-style: normal;
}

.comment-author { margin-bottom: 0.375rem; }

.comment-author .avatar { margin-right: .75rem; }

.comment-author-gravatar img { border-radius: 50%; }

.comment-author-gravatar,
.comment-author-meta {
    display: inline-block;
    vertical-align: middle;
    font-size: 0.75em;
}

.comment.bypostauthor .comment-body { background-color: #d1d1d1; }

.comment-body p:last-of-type { margin-bottom: .75rem; }

.comment-awaiting-moderation {
    color: #c92747;
    font-weight: 700;
    margin-bottom: 1.522rem;
}

#cancel-comment-reply-link {
    color: #c92747;
    text-decoration: underline;
}

#respond p:first-of-type { margin-bottom: .75rem; }

.reply { text-align: right; }




/* --------------------------------------------------------------------------

   Forum Styling - additional styling also in the forms area

----------------------------------------------------------------------------- */

.bbpress .container-inner { max-width: 1400px; }

/* font changes */

#bbpress-forums,
div.bbp-breadcrumb,
div.bbp-topic-tags,
#bbpress-forums ul.bbp-lead-topic,
#bbpress-forums ul.bbp-topics,
#bbpress-forums ul.bbp-forums,
#bbpress-forums ul.bbp-replies,
#bbpress-forums ul.bbp-search-results,
#bbpress-forums div.bbp-the-content-wrapper textarea.bbp-the-content,
#bbpress-forums .bbp-forum-info .bbp-forum-content,
#bbpress-forums .bbp-forums-list li { font-size: 0.75rem !important; }

#bbpress-forums p.bbp-topic-meta,
div.bbp-template-notice p {
    font-size: 0.563rem !important;
    letter-spacing: .25px;
}

#bbpress-forums div.bbp-the-content-wrapper input { font-size: 0.563rem !important; }

.bbp-forum-title {
    font-weight: 700;
    font-size: 1rem;
    text-decoration: none !important;
}

.bbp-forum-freshness a { text-decoration: none !important; }

#bbpress-forums div.bbp-reply-author a.bbp-author-name {
    line-height: 1;
    margin-top: 10px !important;
}

#bbpress-forums div.bbp-reply-author a.bbp-author-name ~ br { display: none; }

/* ui elements */

#bbp_search {
    padding: .25rem;
    border-color: rgba(147, 140, 134, 0.5) !important;
}

#bbpress-forums div.bbp-search-form { margin-bottom: 20px; }

#bbpress-forums fieldset.bbp-form textarea,
#bbpress-forums fieldset.bbp-form select,
#bbpress-forums fieldset.bbp-form input {
    border: 1px solid #ccc;
}

span.bbp-admin-links a {
    color: #3c3b3c !important;
    text-decoration: none !important;
    vertical-align: text-bottom;
    letter-spacing: 1px;
    font-weight: 700 !important;
}

.bbp-breadcrumb { margin-right: 20px; }

.subscription-toggle {
    text-decoration: none !important;
    color: #5d97ad;
    font-weight: 700;
    margin-left: 15px;
}

.bbp-author-avatar {
    vertical-align: super;
    margin-right: 3px;
    margin-left: 3px;
}

.bbp-author-name { text-decoration: none !important; }

#bbpress-forums li.bbp-header,
#bbpress-forums li.bbp-footer,
#bbpress-forums div.odd,
#bbpress-forums ul.odd {
    background-color: transparent !important;
}

#bbpress-forums li.bbp-header,
#bbpress-forums li.bbp-footer {
    border-top: 2px solid rgba(147, 140, 134, 0.5) !important;
}

#bbpress-forums li.bbp-body ul.forum,
#bbpress-forums li.bbp-body ul.topic {
    border-top: 1px solid rgba(147, 140, 134, 0.5) !important;
    padding: 16px 8px 16px 8px !important;
}

#bbpress-forums ul.bbp-forums,
#bbpress-forums ul.bbp-lead-topic,
#bbpress-forums ul.bbp-topics,
#bbpress-forums ul.bbp-forums,
#bbpress-forums ul.bbp-replies,
#bbpress-forums ul.bbp-search-results  {
    border-color: transparent !important;
}

#bbpress-forums div.bbp-reply-content {
    margin-left: 200px !important;
    font-size: .8rem;
}

#bbpress-forums div.bbp-reply-content p {
    margin-bottom: 1rem;
}

@media screen and (max-width: 62.5em) {

    #bbpress-forums div.bbp-reply-content {
        margin-left: 130px !important;
    }

}

#wp-bbp_reply_content-editor-tools {
    display: none !important;
}

.single-forum .subscription-toggle,
.bbpress-logout  {
    float:right !important ;
    display: inline-block;
    padding: .55em 2em .45em;
    background-color: #938c86;
    border: 3px solid #938c86;
    border-radius: 60px;
    font-size: 0.667em;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    outline: none;
    cursor: pointer;
    font-family: 'Texta', sans-serif;
    font-weight: 700;
    margin-bottom: 20px;
    text-decoration: none !important;
}

/* notice colors */

div.bbp-template-notice.info {
    background-color: rgba(93, 151, 173, 0.5) !important;
}

div.bbp-template-notice,
div.indicator-hint {
    background-color: #938c86 !important;
    border-color: transparent !important;
    color: #fff !important;
}

.bbp-forums ~ .bbp-template-notice:not(.info),
.bbp-template-notice.info ~ .bbp-template-notice:not(.info) {
    display: none; /* remove the oh bother message */
}

/* login form */

.bbp-login-form {
    max-width: 800px;
    margin: 0 auto 80px;
}

.bbp-login-form .bbp-username,
.bbp-login-form .bbp-password,
.bbp-login-form .bbp-remember-me,
.bbp-login-form .bbp-submit-wrapper {
    display: inline-block;
    width: 48%;
}

.bbp-login-form .bbp-username,
.bbp-login-form .bbp-remember-me { margin-right: 2%; }

.bbp-login-form .bbp-submit-wrapper {
    float: none !important;
    text-align: left !important;
}



.bbp-login-form input { padding: 5px !important; }

.bbp-login-form label { width: auto !important; }

@media screen and (max-width: 71.875em) {



}

/* --------------------------------------------------------------------------

   Helper Classes

----------------------------------------------------------------------------- */

.center { text-align: center; }


/* hide visually and from screen readers */

.hidden { display: none !important; }


/* hide visually, content accessible to screen readers */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}


/* hide visually and from screen readers, without affecting the layout */

.invisible { visibility: hidden; }



/* --------------------------------------------------------------------------

   Media Queries

----------------------------------------------------------------------------- */


@media screen and (max-width: 78.125em) {

    .sidebars-grid {

        padding-left: 1rem;
        padding-right: 1rem;
    }

    .sidebars-grid .sidebar-left,
    .sidebars-grid .sidebar-right { width: 18%; }

    .sidebars-grid .main-content {
        width: 64%;
        padding-left: 1rem;
        padding-right: 1rem;
    }

}


@media screen and (max-width: 67.5em) {

    html { font-size: 125%; }

    h1, .hsize1 { font-size: 2.441em; }
    h2, .hsize2, .main-content h1  { font-size: 1.953em; line-height: 0.77; }
    h3, .hsize3, .main-content h2 { font-size: 1.563em; line-height: .96; margin-bottom: 1.304rem; }
    h4, .hsize4, .main-content h3 { font-size: 1.25em; line-height: 1.2; margin-bottom: 1.304rem;  }

    .container,
    .container-inner,
    .post-content .main-content {
        padding-left: 1.522rem;
        padding-right: 1.522rem;
    }

    .featured-box p { font-size: 1em; }

    .post-template-default .social-share {
        z-index: inherit;
        position: relative;
        top: auto;
        left: auto;
    }

    .post-template-default .social-share p,
    .post-template-default .social-share .nav {
        display: inline;
        line-height: 40px;
    }

    .post-template-default .social-share .nav > li,
    .post-template-default .social-share .nav > li > a {
        display: inline-block;
        margin-bottom: 0;
    }


}


@media screen and (max-width: 62em) {



    .grid-1-3 { width: 50%; }

    .section { padding: 3.044rem 0; }

    .nav-home { display: none !important; }

    .home .header-main { text-align: right; }

    .search-icon,
    .home .search-icon { margin-top: .5rem; }

    .page-content {
        padding-top: 1.522rem;
        padding-bottom: 1.522rem;
    }

    .featured-box-container { flex-wrap: wrap; }

    .featured-box {
        flex: 1 1 40%;
        max-width: none;
        margin-bottom: 2%;
    }

    .section-half {
        flex-direction: column;
        text-align: center;
    }

    .section-half-inner {
        width: 100%;
    }

    .section-half-inner-img {
        width: 450px;
        padding: 1.522rem;
    }

    .post-card-img { height: 220px; }

    .sidebars-grid {
        display: block;
        max-width: 800px;
        margin: 0 auto;
    }

    .sidebars-grid .sidebar-left,
    .sidebars-grid .sidebar-right,
    .sidebars-grid .main-content {
        width: 100%;
        -webkit-order: 1;
            -ms-flex-order: 1;
                order: 1;
        padding: 0;
    }

}


@media screen and (max-width: 50em) {

    html { font-size: 112.5%; }

    .logo { width: 240px; }

    .logo-small { width: 100px; }

    .btn { border-width: 2px; }

    .page-content {
        padding-top: 1.522rem;
        padding-bottom: 1.522rem;
    }

    .post-card:not(.post-card-small) { margin-top: 1.522rem; }

    .featured-box-margin .featured-box {
        width: 45%;
        margin-bottom: 3%;
    }

    .tag-list {
        -webkit-column-count: 2;
        column-count: 2;
    }

}

@media screen and (max-width: 40em) {

    .featured-box,
    .featured-box-margin .featured-box {
        flex: none;
        width: 95%;
        padding: 1.522rem .75rem;
    }

    .grid { margin-left: 0; }

    [class*="grid-"] {
        display: block;
        width: 100%;
        margin: 0;
        padding: 0;
    }


}


/* --------------------------------------------------------------------------

   Print

----------------------------------------------------------------------------- */


@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }

    /* styles for printing posts */

    .single-post { font-size: 80%; }

    .single-post .logo-small,
    .single-post .search-icon,
    .single-post .nav-main,
    .single-post .nav-social,
    .single-post .related-posts,
    .single-post .post-meta,
    .single-post #comments,
    .single-post .commentlist,
    .single-post .nav-footer,
    .single-post #respond,
    .single-post .pdfprnt-bottom-left { display: none !important; }

    .single-post .post-content .main-content { margin: 0 auto; }

    .single-post .header-main { text-align: center; padding-bottom: 0; }

    .single-post .header-main .header-text { margin: 0; }

    .single-post a[href]:after { content: ""; }

    .single-post .footer-main a { text-decoration: none; }

    .single-post .main-content a[href]:after,
    .single-post .footer-main a[href]:after { content: " (" attr(href) ")"; display: block; margin-bottom: 10px; }

    .single-post img.size-large,
    .single-post img.size-full { max-width: 400px !important; }

}
