
/********************
CONTACT FORM
*******************/
span.error { 
	font-weight: 700;
	color: #f00;
}


form {
	width: 32em;

	margin: 2em;
}

form span {
	float: left;
	width: 9em;
	text-align: right;

	padding: 2px;
	margin: 2px;
}

form .input {
	float: right;
	text-align: left;

	width: 14em;
	
	padding: 0;
	margin: 3px;
}

form .button {
	width: 8em;

	margin: 2em 2em 1em 10em;
	padding: 2px;
}

textarea .bigtext {
	padding: 0;
	margin: 5px;

	width: 30em;

	float: right;
}

/*
     FILE ARCHIVED ON 14:56:07 Aug 19, 2006 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 15:05:11 May 15, 2020.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  LoadShardBlock: 443.231 (3)
  PetaboxLoader3.resolve: 196.484
  exclusion.robots: 0.128
  exclusion.robots.policy: 0.118
  captures_list: 499.438
  CDXLines.iter: 9.518 (3)
  RedisCDXSource: 44.506
  PetaboxLoader3.datanode: 3532.832 (4)
  load_resource: 3316.681
  esindex: 0.007
*/