figcaption{padding-left:3em;font-style:italic;font-size:.8em;color:#2f4f4f}p.subtitle{font-size:1.5em;font-style:italic;color:#2f4f4f}.smallerthumb{max-height:75px;padding:2px;overflow:hidden;opacity:.6;filter:alpha(opacity=60)}