@keyframes fake-loading-animation {
  0% {
    transform: translateX(-130px);
  }
  5% {
    transform: translateX(-100px);
  }
  15% {
    transform: translateX(-30px);
  }
  25% {
    transform: translateX(-30px);
  }
  30% {
    transform: translateX(-20px);
  }
  45% {
    transform: translateX(-20px);
  }
  50% {
    transform: translateX(-15px);
  }
  65% {
    transform: translateX(-15px);
  }
  70% {
    transform: translateX(-10px);
  }
  95% {
    transform: translateX(-10px);
  }
  100% {
    transform: translateX(-5px);
  }
}
.preload-animation {
  max-width: 400px;
  text-align: center;
  margin: 100px auto;
}
.preload-animation__boundary {
  display: inline-block;
  height: 60px;
  width: 130px;
  position: relative;
  margin: 0 0 20px;
  overflow: hidden;
}
.preload-animation__logo-mask {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  z-index: 2;
}
.preload-animation__progress {
  animation: fake-loading-animation 20s 0.5s ease-out forwards;
  background-color: #ff4a00;
  height: 100%;
  transform: translateX(-130px);
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}
.preload-animation__background-fill {
  background-color: #dadfe2;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
}
.full-screen-preload-page {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: #fff;
}

/*# sourceMappingURL=editor-route.ca29f3ba13438c9f44af.css.map*/