/* comment boxes and base styles */
#CommentsWrapper {
	width: 500px;
}

#comment_basket {
	width:  100%;
}

.CommentBox {
	padding: 5px 5px 5px 5px;
	background-color: #F3F3F3;
	border: solid 1px gray;
	margin-bottom: 5px;
	line-height: 1.6;
}
.CommentBox .title {
	text-align: left;
	font-size: 11px;
}
.CommentBox .text {
	line-height: 2;
}
.CommentBox .footer {
	text-align: right;
	font-size: 11px;
}


/* form elements */
#comment_preview {
	border: 1px solid silver;
	display: none;
	padding: 5px;
}
#comment_preview #comment_preview_name {
	font-weight: bold;
}
#comment_errors {
	border: 1px solid red;
	display: none;
}

#ganja_messages .error {
	color: #900;
	font-weight: bold;
}

#ganja_messages .info {
	color: #090;
	font-weight: bold;
}

#ganja_messages .success {
	color: #009;
	font-weight: bold;
}

#pbardiv {
	display: none;
	border: solid 1px;
	padding: 3px 3px 3px 3px;
	margin-top: 10px;
	margin-bottom: 10px;
}
#post_button {
	font-weight:  bold;;
}
#login-error {
	color: red;
	font-weight: bold;
}
#CommentsWrapper .feedLink {
	margin: 15px 0 15px 0;
}
.TextareaWrapper {
	padding-top: 10px;
}
.TextareaWrapper textarea {
	width:  405px;
}

div.title img, .CommenterImage {
  padding: 2px;
  margin-bottom: -8px;
  margin-right: 5px;
  background-color: #fff; 
  border: 1px solid #aaa; 
  width: 32px;
  height: 32px;
}
a.CommenterImageLink {
	text-decoration: none;
	border: none;
}

/* COMMENTER STYLES */

.Commenter {
	margin: 50px 0 0 15px;
	position: relative;
	width: 555px;
	line-height: 1.6;
}
.Commenter .UserData {
	width: 100%;
	min-height: 180px;
}
.Commenter .UserData .label {
	font-weight: bold;
}
.Commenter h2 {
	margin-top: 10px;
	margin-bottom: 20px;
	font-size: 20px;
}

.SiteImageLink {
	border: 0;
	text-decoration: none;
}
.SiteImageLink img {
	float: left;
	border: 1px solid #dadad9;
	padding: 5px;
	background-color: #fff;
	margin-right: 5px;
}
.commentPost .SidebarImage {
	display: none;
}

.UserComments {
	margin: 5px 10px 45px 50px;
}

/* COMMENTFORM */

#CommentsWrapper .Lead p {
	font-style: italic;
	color: #444;
}

#CommentsWrapper .CommentText textarea {
	width: 100%;
	height: 130px;
}

#CommentsWrapper .ProfileBox {
	position: relative;
}

#CommentsWrapper .label {
	float: right;
	padding: 2px;
	font-size: 10px;
	color: #444;
	border-bottom: 1px solid #222;
	border-left: 1px solid #222;
	background-color: #fff;
}

#CommentsWrapper #RegisterForm {
	display: none;
}

#CommentsWrapper #loginDisclaimer {
	display: none;
}

#CommentsWrapper .ProcessFeedback {
	display: none;
}

.SearchPostBottom {
	height: 1px;
	width: 90%;
	border: 0px solid #fff;
	border-bottom: 1px dotted #b3b3b3;
	margin: 0;
	margin-top: 3px;
}
.TeaserImageWrapper{
	position:relative;
	float: left;
	margin: 0;
}
.TeaserImage {
	margin-right: 10px;
	padding: 10px;
	border: 1px solid #ccc;
	background-color: #fff;
	z-index: 100;
}

.Post a.TeaserSiteIcon {
	position: absolute;
	right:24px;
	top: 14px;
	padding:0;
	border: 1px solid white;
}

.Post a:hover.TeaserSiteIcon {
	border: 1px solid #600;
}

.Post a.TeaserSiteIcon img {
	border:none;
}

.Post span.teaserSubheader {
	text-transform: uppercase;
}

div.PostText{
	width: 500px;
	line-height: 18px;
}

div.SearchPost {

}

div.SearchPostText {
	width: 500px;
	line-height: 1.6;
	border-bottom: 0px;
}


p.PostTools{
	text-align:right;
}

.ProfileWrapper {
	width: 400px;
	margin: 30px 15px 10px 10px;
}
.Profile {
}
.Profile h1 {
	font-size: 24px;
}
.registerForm {
	margin-top: 30px;
}
.registerForm p {
	line-height: 1.6;
	font-size: 14px;
}
.registerForm h4 {
	/* margin-top: 35px; */
	margin-bottom: 5px;
	/* font-size: 16px; */
	font-size: 14px;
}
.registerForm .formLine {
	margin-bottom: 10px;
	padding-bottom: 10px;
}
.registerForm .formLine input {
}
.ProfileBox span.comment, .registerForm span.comment {
	display: block;
	margin-bottom: 5px;
}
span.label, .registerForm .formLine label {
	font-weight: normal;
}

div.username {
	padding: 2px;
  margin-bottom: 4px;
  width: 190px;
	background-color: #cccccc; 
	border: 1px solid #aaa;
}

div.avatar {
  float: right; 
  padding: 15px;
  margin-left: 5px; 
  background-color: #fff; 
  border: 1px solid #aaa; 
  text-align: center;
}

.Commenter {
	margin: 50px 0 0 15px;
	position: relative;
	width: 555px;
	line-height: 1.6;
}
.Commenter .UserData {
	width: 100%;
	min-height: 180px;
}
.Commenter .UserData .label {
	font-weight: bold;
}
.Commenter h2 {
	margin-top: 10px;
	margin-bottom: 20px;
	font-size: 20px;
}

.SiteImageLink {
	border: 0;
	text-decoration: none;
}
.SiteImageLink img {
	float: left;
	border: 1px solid #dadad9;
	padding: 5px;
	background-color: #fff;
	margin-right: 5px;
}
.commentPost .SidebarImage {
	display: none;
}

.UserComments {
	margin: 5px 10px 45px 50px;
}

.InnerPostToolsHolder {
	position: relative;
	height: auto;
	margin-top: 30px;
	width: 495px;
	padding-bottom: 15px;
	/* border-bottom: 1px dotted #b3b3b3; */
}
.InnerPostToolsHolder a img {
	border: 0;
}

.InnerAdHolder {
	float: right;
	width: 300px;
}

.InnerReadMore {
	/* width: 100%; */
	position: relative;
	padding-left: 5px;
	width: 180px;
	min-height: 225px;
	border: 1px solid #f0f0f0;
	height: auto;
	padding-bottom: 25px;
	float: left;
}

.InnerReadMoreList {
	padding: 0;
	margin: 0;
	margin-left: 0px;
}

.innerPostTools {
	margin-bottom: 0;
	margin-right: 0;
	margin-left: 10px;
	font-size: 11px;
	text-align: right;
	text-transform: none;
	
	position: absolute;
	bottom: 2px;
	right: 2px;
}

/* widget styles */
.widget {
	position: relative;
	padding-bottom: 2px;
	margin-bottom: 2px;
	bottom: 2px;
}
.widget .widgetList {
	position: absolute;
	width: 130px;
	left: -5px;
	top: -65px;
	height: 60px;
	padding: 3px;display: none;
	text-align: left;
	background-color: #F8FAF0;
	border: 2px solid #C4C4C2;
	color: #777;
}
.widget .widgetList A {
	display: block;
	color: #EFAC54;
}

#adsense a.asl2 {
	text-decoration: none;
	border: none;
	color: #000;
}

#adsense-wrap, #adsense-wrap-single {
    width: 100%;
    height: 195px;
    border:1px solid #aaa;
    position: relative;
    font-size: 12px;
    color: #000;
    margin: 0 0 25px;
}

#adsense-wrap-single {
    height:70px;
}
#adsense p {
	margin: 5px 10px 10px;
	line-height: 18px;
	width: 80%;
}

#adsense span.sponsored-link {
    font-size: 11px;
    position:absolute;
    bottom:5px;
    right: 15px;
}

#gallery-home {
text-align: center;
}

#gallery-home a:hover span {
background:url(/assets/base/img/icons/gallery-nav-up.png) center top no-repeat;
}

#gallery-home span {
display:block;
height:60px;
left:5px;
position:absolute;
top:5px;
}

#gallery-nav {
margin: 0 auto;
width: 500px;
border:1px dotted #ccc;
border-width: 1px 0;
height: 160px;
padding: 10px 0 0;
}

#gallery-next {
text-align:right;
}

#gallery-next span,#gallery-previous span {
display:block;
position:absolute;
top:72px;
}

#gallery-next span {right:5px;}
#gallery-previous span {left:5px;}

#gallery-next a:hover span {
background:url(/assets/base/img/icons/gallery-nav-right.png) center right no-repeat;
}

#gallery-previous a:hover span {
background:url(/assets/base/img/icons/gallery-nav-left.png) center left no-repeat;
}

.gallery #CommentsWrapper {
margin-left: 40px;
}

.gallery .innerPostTools {
position:relative;
clear:both;
}

.gallery #innerFloaterAdWrapper {
margin-left: 40px;
}

.gallery-image li {
display:block;
float:left;
height:140px;
list-style:none;
margin:10px 0 0 15px;
width:150px;
}

.gallery-image-wrapper {
padding: 30px 10px 0 40px;
clear: both;
}

.gallery-image {
position:relative;
}

.gallery-image #description {
text-align:left;
clear:both;
padding: 10px 0 0;
line-height: 18px;
}

.gallery-image li a {
text-decoration:none;
}

.gallery-image li a img, #gallery-thumbs li a img {
border:1px solid #cecdc3;
padding:3px;
background: #fff;
}

#gallery-tags {
clear:both;
padding: 20px 0 20px 40px;
font-size: 11px;
text-transform: uppercase;
}

#gallery-tags ul {
display:inline;
padding-left: 5px;
}

#gallery-tags li {
list-style:none;
display: inline;
padding-right: 5px;
}

#gallery-thumbs li {
list-style:none;
float:left;
width: 170px;
height: 170px;
}

.gallery-thumb-wrapper {
clear:both;
}

.gallery-title {
font-weight:400;
margin-bottom:10px;
}


.GalleryPreview {
	border: 1px solid #9ea2af;
	background-color: #fff;
	padding: 3px;
	width: 475px;
}

.GalleryPreview #AjaxImagePosts  li {
	display: inline;
	float:none;
}

.GalleryPreview #AjaxImagePosts  ul {
	margin:0px;
	padding:4px;
	padding-bottom:0px;
	padding-right:0px;
	margin-left: 4px;
}

.GalleryPreview #AjaxImagePosts li a img {
	width:100px;
	height:100px;
	margin-right:5px;
}

.GalleryPreview #AjaxImagePosts li a {
	border-bottom: none;
}

.GalleryPreview #AjaxImagePosts {
	background-color: #f1f3f2;
}

.GalleryPreview #gallery-thumbs {
	margin-bottom:0;
}

.GalleryPreview h3 {
	font-weight: bold;
	color: #474759;
	background-color: #f1f3f2;
	margin: 0;
	padding: 2px 0 0px 10px;
}



.clearer {
	clear: both;
	border: none;
	height: 0px;
}

.recentLine{
	height: 200px;
	overflow: hidden;
}

.postThumb{
	width: 180px;
	height: 200px;
	float: left;
	text-align: center;
	margin-right: 15px;
}

.postThumb a {
	border-bottom: 0;
}
.postThumb a.nobackground:hover {
	border-bottom: 0;
	background-color: transparent;
}
.postThumb a.nobackground:hover img {
	background-color: #000;
}

.PostToggleRight {
	text-align: right;
	width: 560px;
}

#Posts .track {
	border:none;
	background:transparent;
}

img.track {
	border: 0px !important;
}

/*	AdminTool	*/

#reportTable{
	background-color: #c0c0c0;
	border: 0px solid #ccc;
	padding: 0px;
	margin: 0px;
	width: 100%;
}

#reportTable thead, #reportTable thead tr {
	background-color: #c0c0c0;
}

#reportTable th {
	font-weight: bold;
	font-size: 12px;
}

#reportTable tr {
	padding: 0px;
	margin: 0px;
	background-color: #fff;
}

#reportTable tr.coloured {
	padding: 0px;
	margin: 0px;
	background-color: #edf3fe;
}

#reportTable tr td{
	font-family: "Lucida Grande", sans-serif;
	font-size: 10px;
	padding: 1px;
	margin: 0px;
	border: 0px;
}

#reportTable tr td a{ 
	color: #000;
	text-decoration: none;
	border-bottom: 0px;
}

#reportTable tr td a:hover{
	color: #000;
	text-decoration: underline;
	border-bottom: 0px;
}

div#shade{
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 25px;
	margin: 0;
	padding: 0;
	background-image: url('/assets/base/img/stat/tiger.png');
	background-repeat: repeat-x;
	background-position: top left;
	background-color: #005FD7;
	text-shadow: 0 1px 2px #000;
	font-size: 12px;
	color: #fff;
	text-align: left;
	padding-top: 5px;
}

div#shade a {
	color: #d0d0d0;
	text-decoration: none;
	font-family: Verdana;
	font-size: 12px;
	border-bottom: 0px;
	cursor: hand;
}

div#shade ul {
	display: inline;
	list-style-type: none;
	margin: 10px 0px 0px 0px;
	padding: 10px 20px 0px 10px;

}

div#shade ul li {
	display: inline;
	padding: 8px 0 0 15px;
	color: #d0d0d0;
}

div#shade ul li a:hover,div#shade div a:hover{
	font-family: Verdana;
	color: #FFF;
}

div#shade ul li.nohover:hover, div#shade ul li.nohover.hilited
{
	background: none;
}

table.poll_entrant_result img {
	margin: 0;
}



/*** TAG SEARCH PAGE STYLES ***/

.tagsearch-post {
		clear:both;
		margin:0pt 0pt 25px;
		position:relative;
		z-index:6000;
	}
	
.tagsearch-post-maintag {
	background:transparent url(../img/tag_search_line_bg.gif) repeat-x scroll left center;

	text-transform:uppercase;
	font-family: "Lucida Grande", Verdana, Tahoma;
	font-size: 11px;
}

.tagsearch-post-maintag a {
	text-decoration:none;
	background-color: #fff;
}

.tagsearch-post h3 {
	margin:0pt;
}

.tagsearch-post h3 a {
	background: none repeat scroll 0%;
	border-bottom:medium none;
}

.tagsearch-post h3.top a {
	font-size:23px;
}

.tagsearch-post span {
	display:block;
	float:left;
	margin:0pt 10px 0pt 0px;
	position:relative;
}

.tagsearch-post img {
	background:#FFFFFF none repeat scroll 0%;
	border:1px solid #CECDC3;
	padding:5px;
	float: left;
	margin: 2px 10px 10px 0px;
}

.tagsearch-post-body {
	position: relative;
	line-height: 1.3;
	width:550px;
}

.tagsearch-300x250 {
	clear: both;	
	margin: 30px 0 20px 0;
}

#sitemeter { 
	float: right;
	clear: both;
	margin-right: -30px;
}