.clearer{
	display: none;
	clear: both;
}

body{
	margin: 0px;
	padding: 0px;
	font-family: Verdana, times, serif;
	font-size: 12px;
	color: #333;
	background-color: #F8FAF0;
	background-image: url(../img/site-background.gif);
	background-repeat: repeat-y;
	background-position: top left;
}

A {
	color: #786E29;
	border-bottom: dotted 1px #786E29;
	text-decoration: none;
}

A:hover {
	color: #C58144;		
	border-bottom: dotted 1px #C58144;
	text-decoration: none;
}

H2 a{
	color: #786E29;	
	border-bottom: dotted 1px #F8FAF0;
	text-decoration: none;
}

H2 a:hover{
	color: #C58144;
	border-bottom: dotted 1px #786E29;
	text-decoration: none;
}

#ad160x600{
	position:relative; 
	float: right; 
	width: 160px; 
	height: 600px; 
	margin: 20px -10px 0 auto; 
	padding: 0px; 
	background-color: #fff; 
}

#ad160x160{
	position:relative; 
	float: right; 
	width: 160px; 
	height: 160px; 
	margin: 20px -10px 0 auto; 
	padding: 0px; 
	background-color: #fff; 
}

#editorial{
	position:relative; 
	float: right; 
	width: 160px; 

	margin: 20px -10px 0 auto; 
	padding: 0px; 
	background-color: #fff; 
	border: 0px solid #dedede;
}

.editorial a{
	border: 0px;
	text-decoration: none;
	color: #9C9663;		
}

.editorial a:hover{
	border: 0px;
	text-decoration: underline;
	color: #9C9663;
}

#syndication {
	line-height:18px;
}


#about ul {
	padding-left: 0px;
	margin-left: 0px;
	list-style-type: none;
	line-height: 20px;
}

#about ul li {
	display: inline;
}

#adAtTop{
	border: 1px solid #B3B3B3;
	background-color: #FFFFFF;
	margin: 0px;
	padding: 4px;
	width:728px;
}

.clear{
	padding-top: 15px;
}

#content{
	background-color: #F8FAF0;
	margin-right: -30px;
	padding-right: 30px;
}

.dateHeader {
	width : 36px;
	height: 103px;
	position: relative;
	top: 0;
	float: left;
}

#headerBar{
	width: 730px;
	text-align: right;
	position: absolute;
	top: 10px;
	right: 30px;
}

#innerFloaterAd {
	width: 550px;
	/* margin: 0px auto 20px auto; */
	margin-top: 10px;
	margin-bottom: 20px;
	background-color: white;
	border:1px solid #B3B3B3;
	padding: 15px 5px 20px 5px;
}
#innerFloaterAd iframe {
	margin: 0 auto 0 auto;
	display: block;
}

#logoText{
	width: 271px;
	height: 64px;	
	z-index: 100;
	position: absolute;
	top: 127px;
	left: 10px;
	border: 0px;
}

#logoText a, #logoText a:hover{
	text-decoration: none;
	border: 0px;
	margin: 0px;
	padding: 0px;
}

ul.nobull {
	line-height:1.6;
	list-style-type:none;
	margin-left:0;
	padding-left:0;
}


.poll_entrant_result img, .poll_entrant_result td img {
	border:	0;
	padding: 0;
	margin:0;
}

.postText ul {
	list-style-type: disc;
}
.postText ul li {
	list-style-type: disc;
	padding: 0;
	margin-bottom: 10px;
}

.postText ol {
	list-style-type: decimal;
}
.postText ol li {
	list-style-type: decimal;
	padding: 0;
	margin-bottom: 10px;
}


.postText blockquote {
	background-color: #E7EDCF;
	border: 1px solid #9BA379;
	color: #4D4D4D;
	padding: 10px 10px 10px 10px;
	margin: 1em 0 1em 0;
}

.postText p.roundedBorderBQ {
	background-color: #E7EDCF;
	color: #4D4D4D;
	padding: 6px;
	margin: 0;
}

.postText blockquote div {
}

.notrounded, .postText img {
	border: 1px solid #B3B3B3;
	padding: 4px;
	float: left;
	margin: 0 10px 10px 0;
	padding: 2px;
}



.postText img.roundedBorder {
	border: 0;
	padding: 0;
	float: none;
	margin: 0;
	-moz-border-radius: 6px;
	padding: 5px;
	background-color: #fff;
}

.postText img.noborder{
	border: none;
	float: none;
	padding: 0px;
	margin: 0px;
	margin-right: 3px;
}

.postText img.left, .postText img.Left {
	float: left;
	margin: 0 10px 10px 0;
	-moz-border-radius: 6px;
	padding: 5px;
	background-color: #fff;
}

.postText img.right, .postText img.Right, .postText img.post-image-large {
	float: right;
	margin: 0 0 10px 10px;
	-moz-border-radius: 6px;
	padding: 5px;
	background-color: #fff;
}

.postText img.center {
	float: none;
	margin: 0 auto 10px auto;
	display: block;
	text-align: center;
	-moz-border-radius: 6px;
	padding: 5px;
	background-color: #fff;
}

#mainContainer{
	height: 1px;
	padding-left: 200px;
	padding-right: 30px;
}

#page{
	position: relative;
	min-width: 760px;
}

div.postDetails{
	margin-left: 45px;
}

.Post h2, div.postDetails h2, div.SearchPost h2, h1.gallery-title {
	width: 90%;
	font-weight: normal;
	font-family: Georgia, Verdana, serif;
	font-size: 24px;
	padding: 0px;
	margin: 0px;
	margin-bottom: 10px;
}

h1.gallery-title a {
	border-bottom:none;
}

#gallery-tags {
	font-size: 12px;
	/*text-transform: capitalize;*/
}


.postToggle {
	height: 20px;
	margin: 0px;
	padding: 0px;
	border: 0px;
	text-align: right;
	clear: both;
}

.PostToggleRight {
	text-align: right;
}

.pageToggle {
	width: 550px;
	text-align: right;
}

.postToggle a, .pageToggle a {
	color: #786E29;	
	border-bottom: dotted 1px #F8FAF0;
	text-decoration: none;
}

.postToggle a:hover, .pageToggle a:hover {
	color: #C58144;
	border-bottom: dotted 1px #786E29;
	text-decoration: none;
}

p.PostTools{
	width: 500px;
	text-align: right;
	border: 1px red solid;
	margin: 0px;
	padding: 0px;
	border: 0px;
}

p.PostTools img{
	float: none;
	margin: 0px;
	padding: 0px;
	margin-right: 3px;
	border: 0px;
}

div.postText{
	width: 500px;
	position: relative;
	line-height: 18px;
}

div.postTools, div.innerPostTools {
	padding-top: 10px;
	height: 10px;
	float: right;
	padding-left: 8px;
	margin-bottom: 0px;
	vertical-align: top;
}

div.innerPostTools {
	margin-bottom:5px;	
}

.PostTools img, .postTools img, .innerPostTools img {
	border: 0px;
}

.postTools img.noborder,.innerPostTools img.noborder {
	border: none;
	float: none;
}

#Posts{
	clear: both;
}

a.tools, a.tools:hover{
	border: 0px;
}

div.readMore, div.InnerReadMore {
	padding-top: 28px;
	/* text-transform: uppercase; */
	/* font-size: 11px; */
	margin-bottom: 5px;
}

div.InnerReadMore {
	border: 1px dotted #B3B3B3;
	padding: 5px 0 5px 5px;
	min-height:243px;
}

ul.InnerReadMoreList li {
	line-height:1.4;
	list-style-type: none;
	/*text-transform:capitalize;*/
}


div.related {
	margin-left: 20px;
}
ul.readMoreList, .InnerReadMoreList {
	list-style-type: none;
	padding: 0;
	margin: 0;
	margin-bottom: 5px;
	display: inline;
}

ul.readMoreList li {
	display: inline;
	margin: 0 0 0 3px;
	padding: 0;
	/*text-transform: capitalize;*/
}

#rightSide{
	margin-left: -2px;
	padding-left: 60px;
	padding-top: 110px;
	vertical-align: top;
}

#tagLine {
	margin-left: 10px;
	padding: 4px;
	z-index: 300;
	text-align: left;
	line-height: 1.6;
	font-size: 12px;
}

#term {
	height: 13px;
	font-family: Verdana, times, serif;
	font-size: 12px;
	color: #786E29;
}

#searchField {
	float: right;
	width: 260px;
	height: 20px;
	padding: 0px;
	margin-left: 20px;
	margin-top: 14px;
}

#searchHeader{
	margin-bottom: 20px;
	font-weight: normal;
	font-family: Georgia, Verdana, serif;
	vertical-align: bottom;
}




#searchHeader H1{
	padding-top: 10px;
	padding-bottom: 35px;
	font-size: 28px;
	text-align: left;
	font-weight: normal;
	font-family: Georgia, Verdana, serif;
	margin-right: 15px;
}


.SearchPostText{
	line-height: 18px;
}

.srchbttn{
	width: 87px;
	height: 19px;
	margin: 0px 0px -3px 5px;
	padding: 0px;
	background: url("../img/texts/search_buttons.gif") 0 0 no-repeat;
	text-decoration: none;
	border-bottom: 0px;
}

.srchbttn:hover,.srchbttn_hover {	
	width: 87px;
	height: 19px;
	margin: 0px 0px -3px 5px;
	padding: 0px;
	background: url("../img/texts/search_buttons.gif") -87px 0 no-repeat;
	text-decoration: none;
	border-bottom: 0px;
}

#sidebar{
	width: 200px;
	position: absolute;
	top: 0px;
	left: 0px;
	padding-top: 220px;
}

#siteLogo{
	width:280px;
	height:206px;
	position:absolute;
	top:0px;
	left:0px;
}

#siteLogoInner{
	margin-top: 120px;
	margin-left: 10px;
}


#subscribeFeed {
	height: 1px;
}

#subscribeFeed A, #subscribeFeed A:hover {
	color: #786E29;		
	border-bottom: dotted 1px #786E29;
	text-decoration: none;
}

#subscribeFeed H1{
	float: left;
	margin-top: 10px;
	font-size: 28px;
	text-align: left;
	font-weight: normal;
	font-family: Georgia, Verdana, serif;
	margin-right: 15px;
	margin-bottom:10px;
}

#subscribeFeed img{
	margin-top: 15px;
}

#subscribeText {
	position: relative;
	top: 3px !important;
	top: 17px;
}

#topLink{
	color: #000000;
	border: 0px;
}

#topLink:hover{
	color: #000000;
	border: 0px;
}

#topStories{
	list-style-type: none;
	padding: 0px;
}

#topStories li{
	display: inline;
}

#topStoriesContainer{
	float:right;
	clear: both;	
	margin-left: 80px;
	padding-bottom: 10px;
	margin-top: 10px;
	line-height: 17px;
}

/* Add to... widget */
.widget {

	position: relative;
	padding-bottom: 2px;
	margin-bottom: 2px;
	bottom: 2px;
}
.widget .widgetList { 
	font: 12px Tahoma, Verdana, sans-serif;
	position: absolute; 
	width: 130px; 
	left: -5px; 
	top: -65px; 
	height: 60px; 
	padding: 3px; 
	display: none; 
	text-align: left; 
	background-color: #F8FAF0; 
	border: 2px solid #C4C4C2; 
	color: #777; 
}

.widget .widgetList A { 
	display: block; 
	color: #EFAC54; 
}


/* rounded corners */
.imBorderTop {background: url(../img/corners/dot.gif) 0 0 repeat-x; float:left; background-color: #fff;}
.imBorderBottom {background: url(../img/corners/dot.gif) 0 100% repeat-x;}
.imBorderLeft {background: url(../img/corners/dot.gif) 0 0 repeat-y;}
.imBorderRight {background: url(../img/corners/dot.gif) 100% 0 repeat-y;}
.imCornerBottomLeft {background: url(../img/corners/bottomleft.gif) 0 100% no-repeat;}
.imCornerBottomRight {background: url(../img/corners/bottomright.gif) 100% 100% no-repeat;}
.imCornerTopLeft {background: url(../img/corners/topleft.gif) 0 0 no-repeat;}
.imCornerTopRight {background: url(../img/corners/topright.gif) 100% 0 no-repeat; padding: 4px;}

.SearchPost .postTools .CommentsLink, .SearchPost .postTools .CommentsLink:hover, .SearchPost .postTools .MailtoLink, .SearchPost .postTools .MailtoLink:hover, .SearchPost .postTools .PermaLink, .SearchPost .postTools .PermaLink:hover{
	margin-bottom: -1px;
	border-bottom: 0px;
}

.PostTools .CommentsLink, .PostTools .CommentsLink:hover, .PostTools .MailtoLink, .PostTools .MailtoLink:hover, .PostTools .PermaLink, .PostTools .PermaLink:hover{
	margin-bottom: -1px;
	border-bottom: 0px;
}

.postDetails li {
list-style: none;
background: url(/assets/img/icon.dingbat.gif) 0 .3em no-repeat;
padding-left: 18px;
line-height: 1.6;
}
.postDetails li a {
font-weight: normal;
}
.postDetails .Previously {
width: 500px; 
font-weight: bold;
margin: 1em 0;
}
.postDetails .Previously li a {/* font-size:150%; */}
.postDetails .Previously ul {display:inline;}
.postDetails .Previously li {display:inline;background-position:left center;}

.byline {
	font: 9px Tahoma, Verdana, sans-serif;
	text-transform: uppercase;
}

#CommentsWrapper {
	margin-left: 45px;
}

/* commenter page styles */
.OriginalPost {
	/* margin-left: 40px; */
}

.DateHeader {
	width: 36px;
	float: left;
	/* margin: 0px 5px 20px -40px; */
	margin: 0px 5px 10px 0px;
}

.Commenter .Comments .OriginalPost .DateHeader {
	margin-left:-50px;
}

.Commenter .Comments .OriginalPost h1 {
	font-weight: normal;
	font-family: Georgia, Verdana, serif;
	font-size: 24px;
	line-height:1.2;
}

p.PostToggleRight {
	width: 560px;
}

#CategoryHeader {
	margin-top:112px;
	margin-bottom:20px;
}

#CategoryHeader h1, 
#PageHeader h1 {
	display: inline;
	padding-top: 10px;
	font-size: 28px;
	text-align: left;
	font-weight: normal;
	font-family: Georgia, Verdana, serif;
	margin-right: 15px;
}

#CategoryHeader span img {
	vertical-align: baseline;
}



img.ftr_bug { 
	border: 0; 
	margin-left: 0px;
}

.postThumb {
padding: 10px;
text-align:center;
float:left;
margin: 0px;
height: 210px;
}

.postThumb img {
padding:5px;
margin:0 0 5px;
background:#fff;
border: 1px solid #666;
}

.postThumb span {
display:block;
width: 120px;
}

.postThumb h2 a{
border:none;
margin: 0 0 5px;
font-weight:700;
font-size: 13px;
}

.postThumb a:hover img {
background:#000;
}

.Commenter .UserData h1 {
	line-height: 1.1;
}

.Commenter h2, .Commenter .UserData h1 {
	font-size: 24px;
	font-weight: normal;
	font-family: Georgia, Verdana, serif;
}

.Commenter h1 a {
	border-bottom:none;
}

.Commenter h1 a:hover {
	border-bottom:1px dotted;
}


.GalleryPreview {
	border:none;
	background-color: transparent;
	padding: 0px;
	width: 475px;
	
	margin-top:15px;
	margin-bottom:15px;
}

.GalleryPreview #AjaxImagePosts {
	float:none;
}

.GalleryPreview #AjaxImagePosts  li {
	display: inline;
	float:none;
	margin-left:0px !important;
	background:transparent;
	padding-left:0;
}

.GalleryPreview #AjaxImagePosts li img {
	float: none;
}

.GalleryPreview #AjaxImagePosts  ul {
	margin:0px;
	padding:0px;
	padding-bottom:0px;
	padding-right:0px;
	margin-left: 0px;
}

.GalleryPreview #AjaxImagePosts li a img {
	width:100px;
	height:100px;
	margin-right:5px;
}

.GalleryPreview #AjaxImagePosts li a {
	border-bottom: none;
}

.GalleryPreview #AjaxImagePosts {
	background-color: transparent;
}

.GalleryPreview #gallery-thumbs {
	margin-bottom:0;
}

.GalleryPreview h3 {
	font-weight: bold;
	color: #474759;
	background-color: transparent;
	margin: 0;
	padding: 2px 0 8px 0px;
}
